.name{
    text-align: center;

}
.container{
   background-color: lightblue;
padding-top: 5%;
    margin-top: 5%;
}

.page2{
    background-color: lightpink;
}
.page1{
    background-color: aquamarine;
}
.display{
    font-size: 200%;
    text-align: center;
}